@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

div.changelog-container {
    display: flex;
    flex-flow: column nowrap;
    width: 700px;
    height: 750px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 auto;
    align-items: center;
}

div.change-title {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin: 25px;
}

div.change-title > p {
    margin: 10px;
    color: rgb(156, 156, 156);
}

div.main-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
    text-align: justify;
}

div.data-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    height: 500px;
}

div.data-container > p {
    color: rgb(156, 156, 156);
}

div.pontos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    height: 500px;
}

span.linha {
    position: absolute;
    height: 550px;
    border: 1px solid black;
    width: 1px;
    background-color: black;
    margin-left: 6px;
    top: 240px;
}

span.ponto {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}

div.changelog-items {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    height: 500px;
}

div.changelog-items > p {
    font-weight: 900;
}

div.complete-changelog {    
    margin-top: 50px;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 15px;
    cursor: pointer;
} 