@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: oklch(27.8% 0.033 256.848);
}

div.changelog-container {
    display: flex;
    flex-flow: column nowrap;
    border: 3px solid black;
    border-radius: 15px;
}

div.title {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin: 50px;
    gap: 10px;
}

div.title > p {
    color: oklch(20.5% 0 0);
}

div.main-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

div.data {
    display: flex;
    flex-flow: column nowrap;
    padding-right: 40px;
    color: oklch(20.5% 0 0);
    flex: 1;
    gap: 50px;
}

div.data > p {
    text-align: left;
}

div.bola-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 57px;
    margin-left: 20px;
    margin-right: 20px;
}

div.bola {
    width: 15px;
    height: 15px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}

div.linha {
    width: 3px;
    height: 500px;
    background-color: black;
    position: absolute;
}

div.change {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 40px;
    gap: 50px;
}
